@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic&subset=latin,latin-ext);
* {
box-sizing: border-box;
}
ol,
ul {
padding: 0;
list-style: none;
}
a {
transition: color 200ms ease-in-out;
text-decoration: none;
color: #2196f3;
font-weight: 600;
}
a:hover {
color: #0c7cd5;
}
a:active {
color: #0a6ebd;
}
img {
max-width: 100%;
}

.heading {
display: inline;
position: center;

}



/*
.card {
margin: 30px auto;
width: 300px;
height: 300px;
border-radius: 40px;
background-image: url('https://i.redd.it/b3esnz5ra34y.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
background-repeat: no-repeat;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
transition: 0.4s;
}*/
#progress {
position: fixed;
z-index: 1;
top: 0;
left: -6px;
width: 1%;
height: 5px;
background-color: #ce0000;
-moz-border-radius: 1px;
-webkit-border-radius: 1px;
border-radius: 1px;
-moz-transition: width 600ms ease-out,opacity 500ms linear;
-ms-transition: width 600ms ease-out,opacity 500ms linear;
-o-transition: width 600ms ease-out,opacity 500ms linear;
-webkit-transition: width 600ms ease-out,opacity 500ms linear;
transition: width 1000ms ease-out,opacity 500ms linear;
}
.compose, .search-button, .modal-button button {
border: none;
outline: none;
background: #f0f0f0;
}
.more {
padding: 10px 15px;
width: 100%;
transition: background-color 200ms ease-in-out;
color: white;
border-radius: 3px;
background-color: #2196f3;
font-size: 20px;
}

.lds-spinner {
color: official;
display: inline-block;
position: relative;
width: 64px;
height: 64px;
}
.lds-spinner div {
transform-origin: 32px 32px;
animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
content: " ";
display: block;
position: absolute;
top: 3px;
left: 29px;
width: 5px;
height: 14px;
border-radius: 20%;
background: #fff;
}
.lds-spinner div:nth-child(1) {
transform: rotate(0deg);
animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
transform: rotate(30deg);
animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
transform: rotate(60deg);
animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
transform: rotate(90deg);
animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
transform: rotate(120deg);
animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
transform: rotate(150deg);
animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
transform: rotate(180deg);
animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
transform: rotate(210deg);
animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
transform: rotate(240deg);
animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
transform: rotate(270deg);
animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
transform: rotate(300deg);
animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
transform: rotate(330deg);
animation-delay: 0s;
}
@keyframes lds-spinner {
0% {
  opacity: 1;
}
100% {
  opacity: 0;
}
}

body {
height: 100vh;
/*display: auto;*/
/*min-height: 100vh;*/
color: #333333;
overflow: auto;
background-color: #D4DBE2;
font-family: "Open Sans", sans-serif;
align-items: center;
justify-content: center;
}
p {
color: #696969;
}
.window {
 display: inline-block;
 height: 50vh;
 margin: 0;
 min-height: 100%;
 flex-direction: column;
 width: auto;
 background-color: white;
 box-shadow: 0px 8px 20px rgba(42, 47, 57, 0.4);
 scroll-behavior: smooth;
}
.toolbar {
 display: flex;
 width: auto;
 height: 5vh;
 padding: 0 20px;
 background-color: #f6f7f8;
 justify-content: space-between;
 align-items: center;
}
.toolbarInbox {
 display: flex;
 width: auto;
 height: 5vh;
 padding: 0 20px;
 background-color: #c9d2db;
 justify-content: space-between;
 align-items: center;
 border-top: 1px solid #d9e0e2;
 border-bottom: 1px solid #d9e0e2;
}
.sidebar {
display: flex;
height: 95vh;
padding-top: 20px;
background-color: #2a2f39;
flex: 1 0 100px;
align-items: center;
justify-content: space-between;
flex-flow: column wrap;
}
.categories {
display: flex;
margin-top: 50px;
justify-content: center;
align-items: center;
flex-flow: column wrap;
}
.categories li {
position: relative;
}
.categories i {
margin-bottom: 30px;
cursor: pointer;
transition: opacity 300ms ease-in-out;
opacity: 0.6;
color: white;
font-size: 20px;
}
.categories i:hover {
opacity: 1;
}
.notification {
position: absolute;
top: -20px;
right: -20px;
display: flex;
width: 30px;
height: 30px;
color: white;
border: 3px solid #2a2f39;
border-radius: 50%;
background-color: #ea2e49;
font-size: 12px;
font-weight: 600;
align-items: center;
justify-content: center;
}
.is-active {
opacity: 1 !important;
}
.compose {
padding: 10px 15px;
transition: background-color 200ms ease-in-out;
color: white;
border-radius: 3px;
background-color: #2196f3;
font-size: 20px;
}
.compose:hover {
background-color: #0c7cd5;
}
.compose:active {
background-color: #0a6ebd;
}
.user-profile {
display: flex;
padding-bottom: 20px;
flex-flow: column wrap;
align-items: center;
}
.user-profile i {
margin-top: 20px;
cursor: pointer;
transition: opacity 300ms ease-in-out;
opacity: 0.6;
color: white;
font-size: 20px;
}
.user-profile i:hover {
opacity: 1;
}
.inbox {
display: auto;
width: 40%;
height: 95vh;
max-width: 40%;
/*min-width: 400px;*/
margin: 0;
padding: 0;
border-top: 1px solid #d9e0e2;
border-right: 1px solid #d9e0e2;
background: #f6f7f8;
flex-flow: column;
overflow-y: auto;
}
.hide {
 opacity: 0;
}
.inbox-item {
opacity: 1; 
min-width: 35%;
height: auto;
padding: 20px;
cursor: pointer;
transition: background-color 200ms ease-in-out;
border-bottom: 1px solid #d9e0e2;
flex: 1;
transition: visibility 800ms ease-in-out, opacity 500ms ease-in-out;
-webkit-transition: opacity 2s ease-in;
-moz-transition: opacity 2s ease-in;
-o-transition: opacity 2s ease-in;
-ms-transition: opacity 2s ease-in;
transition: opacity 2s ease-in;
}
.inbox-item:hover {
background-color: #edf5fd;
}
.inbox-item:last-child {
border-bottom: 0;
}
.inbox-sender {
display: flex;
font-size: 12px;
flex-flow: row wrap;
justify-content: space-between;
}
.inbox-title {
display: flex;
align-items: center;
flex-flow: row-reverse wrap;
justify-content: space-between;
}
.inbox-title h4 {
margin: 0;
margin-top: 10px;
}
.sender-name {
font-weight: 600;
}
.sender-date {
font-weight: 600;
}
.sender-date span {
opacity: 0.5;
}
.sender-label {
margin-right: 10px;
font-size: 14px;
}
.content {
position: relative;
display: flex;
height: 100%;
flex-grow: 1;
}
.message {
width: 60%;
height: 95vh;
overflow-y: auto;
padding: 30px;
border-top: 1px solid #d9e0e2;
background-color: white;
}
.message-info {
display: flex;
flex-flow: row wrap;
justify-content: space-between;
}
.message-from {
display: flex;
flex-flow: row wrap;
align-items: center;
}
.message-from img {
width: 50px;
height: 50px;
border-radius: 4px;
-o-object-fit: cover;
object-fit: cover;
}
.message-sender {
display: flex;
margin-left: 10px;
flex-flow: column wrap;
}
.message-sender h5 {
margin: 0;
}
.message-sender span {
margin-top: 5px;
font-size: 12px;
}
.message-is-active {
background: #edf5fd;
}
.message-tools i {
margin-left: 20px;
cursor: pointer;
transition: opacity 300ms ease-in-out;
color: #2a2f39;
}
.message-tools i:hover {
opacity: 0.6;
}
.window-actions {
display: flex;
}
.actions-item {
width: 10px;
height: 10px;
margin: 0 5px;
border-radius: 50%;
background-color: #dddddd;
}
.actions-item:nth-child(1) {
background-color: #f44336;
}
.actions-item:nth-child(2) {
background-color: #ffeb3b;
}
.actions-item:nth-child(3) {
background-color: #4caf50;
}
input[type="search"] {
width: 300px;
height: 25px;
padding: 0 10px;
border: none;
border: 1px solid #e9e9e9;
border-radius: 3px;
background-color: white;
font-size: 12px;
}
input[type="search"]:focus {
border: 1px solid #2196f3;
outline: none;
}
.search-button {
height: 27px;
max-height: 27px;
margin-left: -8px;
padding: 0 15px;
color: white;
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;
background-color: #ea2e49;
font-size: 12px;
font-weight: 600;
}
.search-button:hover {
background-color: #d01530;
}
.search-button:active {
background-color: #b9132a;
}
.more {
 display: inline-block;
 border-radius: 4px;
 background-color: #f4511e;
 border: none;
 color: #FFFFFF;
 text-align: center;
 font-size: 12px;
 padding: 20px;
 width: 100%;
 transition: all 0.5s;
 cursor: pointer;
 margin: 5px;
}

.more span {
 cursor: pointer;
 display: inline-block;
 position: relative;
 transition: 0.5s;
}

.more span:after {
 content: '\00bb';
 position: absolute;
 opacity: 0;
 top: 0;
 right: -20px;
 transition: 0.5s;
}

.more:hover span {
 padding-right: 25px;
}

.more:hover span:after {
 opacity: 1;
 right: 0;
}
.message-labels .message-labels-item {
margin: 20px 0;
}
.red {
border: 2px solid #ea2e49;
background-color: rgba(234, 46, 73, 0.5);
}
.blue {
border: 2px solid #2196f3;
background-color: rgba(33, 150, 243, 0.5);
}
.yellow {
border: 2px solid #ffeb3b;
background-color: rgba(255, 235, 59, 0.5);
}
.green {
border: 2px solid #4caf50;
background-color: rgba(76, 175, 80, 0.5);
}
.message-labels-item {
width: 15px;
height: 15px;
border-radius: 50%;
}
/* Overlay and Modal */
.overlay {
position: absolute;
z-index: 1;
top: 0;
right: 0;
bottom: 0;
left: 0;
display: flex;
visibility: hidden;
transition: visibility 800ms ease-in-out, opacity 500ms ease-in-out;
opacity: 0;
background: rgba(0, 0, 0, 0.7);
align-items: center;
justify-content: center;
}
.is-open {
visibility: visible;
opacity: 1;
}
.modal {
width: 90vh;
height: 90vh;
border-radius: 3px;
background-color: white;
box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
}
.modal-title {
position: relative;
padding: 20px;
text-align: center;
}
.modal-form input,
.modal-form textarea {
width: 100%;
height: 100%;
margin: 5px 0;
padding: 10px;
border: 1px solid #e9e9e9;
border-radius: 3px;
outline: none;
}
.modal-form input:focus,
.modal-form textarea:focus {
border: 1px solid #2196f3;
}
.modal-form textarea {
height: 100%;
resize: vertical;
}
.modal-body {
padding: 20px;
border-top: 1px solid #d9e0e2;
border-bottom-right-radius: 3px;
border-bottom-left-radius: 3px;
background-color: #f6f7f8;
}
.modal-button {
padding-top: 10px;
text-align: right;
}
.modal-button button {
padding: 5px 20px;
color: white;
border-radius: 3px;
background-color: #2196f3;
}
.modal-button button:hover {
background-color: #0c7cd5;
}
.modal-button button:active {
background-color: #0a6ebd;
}
.modal-close {
position: absolute;
top: 20px;
right: 20px;
width: 15px;
height: 15px;
cursor: pointer;
transition: opacity 200ms ease-in-out;
}
.modal-close:hover {
opacity: 0.5;
}
.modal-close:after {
position: absolute;
top: 7px;
right: 0px;
width: 15px;
height: 2px;
content: "";
-webkit-transform: rotate(45deg);
transform: rotate(45deg);
background-color: #333333;
}
.modal-close:before {
position: absolute;
top: 7px;
right: 0px;
width: 15px;
height: 2px;
content: "";
-webkit-transform: rotate(-45deg);
transform: rotate(-45deg);
background-color: #333333;
}
.swal2-container.swal2-shown {
    background: url('https://blackdeerfestival.com/wp-content/uploads/2018/02/blackdeer-semi-transparent-block.png');
}

/* APP CARDS */
.cards-list {
z-index: 0;
width: 100%;
display: flex;
justify-content: space-around;
flex-wrap: wrap;
border-radius: 10px;
background: #444;
}

.cards-list-stories {
z-index: 0;
width: 100%;
display: flex;
justify-content: space-around;
flex-wrap: wrap;
border-radius: 10px;
border-bottom-color: #444;
}

.card {
margin: 20px auto;
width: 120px;
height: 120px;
border-radius: 40px;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
cursor: pointer;
transition: 0.4s;
}

.card .card_image {
width: inherit;
height: inherit;
border-radius: 40px;
}

.card .card_image img {
width: inherit;
height: inherit;
border-radius: 40px;
object-fit: cover;
}

.card .card_title {
text-align: center;
border-radius: 0px 0px 40px 40px;
font-family: sans-serif;
font-weight: bold;
font-size: 20px;
margin-top: -80px;
height: 50px;
color: white;
text-shadow: inherit;
}

.card:hover {
transform: scale(0.9, 0.9);
box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
  -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.title-white {
color: white;
}

.title-black {
color: black;
}

@media all and (max-width: 500px) {
.card-list {
  /* On small screens, we are no longer using row direction but column */
  flex-direction: column;
}
}

/* STORIES CARDS */
.card-stories {
margin: 20px auto;
width: 100px;
height: 100px;
border-radius: 50px;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
cursor: pointer;
transition: 0.4s;
border-width: 3px;
border-color: #444;
}

.card-stories .card-stories_image {
width: inherit;
height: inherit;
border-radius: 50px;
}

.card-stories .card-stories_image img {
width: inherit;
height: inherit;
border-radius: 50px;
object-fit: cover;
}

.card-stories .card-stories_title {
text-align: center;
border-radius: 0px 0px 40px 40px;
font-family: sans-serif;
font-weight: bold;
font-size: 10px;
margin-top: -80px;
height: 50px;
color: white;
text-shadow: inherit;
}

.card-stories:hover {
transform: scale(0.9, 0.9);
box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
  -5px -5px 30px 15px rgba(0,0,0,0.22);
}

@media all and (max-width: 500px) {
.card-stories-list {
  /* On small screens, we are no longer using row direction but column */
  flex-direction: column;
}
}

/* calendar css */
.container {
width: 90%;
margin: auto;
}

.mobile-wrapper {
  background: #fff;
  /* relative with .today-box::before*/
  z-index: 1;
  /*positive*/
  position: relative;
  /*---------*/
  width: 100%;
  min-height: 100%;
  margin: auto;
  padding: 10px 0 20px;
  border-radius: 10px;
  box-shadow: 0px 10px 30px -10px #000;
  overflow: hidden;
}

.header {
  padding-bottom: 15px;
  margin-bottom: 40px;
}
.header .container {
  position: relative;
}
.header .container span {
  color: #444;
  font-family: 'Ramabhadra';
  font-size: 21px;
  font-weight: 700;
}
.header .container h1 {
  margin-top: 5px;
  color: #919294;
  font-size: 13px;
  font-weight: 300;
}
.header .container .menu-toggle {
  width: 25px;
  height: 25px;
  background: #fff;
  padding: 24px;
  border-radius: 50%;
  direction: rtl;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 10px 30px -14px #000;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.header .container .menu-toggle span {
  display: block;
  width: 25px;
  height: 2px;
  background: #777;
  border-radius: 2px;
  transition: all 300ms ease;
}
.header .container .menu-toggle span:not(:last-child) {
  margin-bottom: 5px;
}
.header .container .menu-toggle span:first-child {
  width: 20px;
}
.header .container .menu-toggle span:last-child {
  width: 15px;
}
.header .container .menu-toggle:hover span:first-child, .header .container .menu-toggle:hover span:last-child {
  width: 100%;
}
.header .container::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-left-color: #e8e8e8;
  position: absolute;
  bottom: -13px;
  right: 0px;
}
.header .container::after {
  content: "";
  display: block;
  width: calc(100% - 10px);
  height: 2px;
  background-color: #e8e8e8;
  position: relative;
  top: 8px;
}

.today-box {
  background: linear-gradient(to left, #485fed, rgba(255, 44, 118, 0.25)), #485fed;
  color: #FFF;
  padding: 37px 40px;
  position: relative;
  box-shadow: 0px 0px 40px -9px #485fed;
  margin-bottom: 50px;
}
.today-box::before {
  content: "";
  background: linear-gradient(to left, #485fed, rgba(255, 44, 118, 0.25)), #485fed;
  opacity: 0.4;
  z-index: -1;
  display: block;
  width: 100%;
  height: 40px;
  margin: auto;
  position: absolute;
  bottom: -13px;
  left: 50%;
  transform: translatex(-50%);
  border-radius: 50%;
  box-shadow: 0px 0px 40px 0 #485fed;
}
.today-box .breadcrumb {
  font-weight: 300;
  position: relative;
}
.today-box .breadcrumb::after {
  content: "\f3d1";
  font-family: 'Ionicons';
  vertical-align: middle;
  font-size: 12px;
  font-weight: 100;
  display: inline-block;
  color: #fff;
  text-align: center;
  position: absolute;
  left: 45px;
  top: 3px;
}
.today-box .date-title {
  font-size: 20px;
  margin: 7px 0 0 0;
  letter-spacing: 1px;
  font-weight: 600;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
}
.today-box .plus-icon {
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  box-shadow: 0px 10px 30px -14px #000;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 40px;
  cursor: pointer;
  transition: all 350ms ease;
  transition-timing-function: cubic-bezier(0.05, 1.8, 1, 1.57);
}
.today-box .plus-icon:hover {
  transform: translateY(-40%);
}
.today-box .plus-icon i {
  font-size: 22px;
  font-weight: 700;
  background: #fff;
  color: #777;
  width: 45px;
  height: 45px;
  border: 6px solid #485fed;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.today-box .plus-icon:active {
  top: 52%;
  transform: translatey(-52%);
  right: 38px;
  box-shadow: 0px 8px 30px -14px #000;
}

.upcoming-events .container h3 {
  color: #333;
  font-size: 17px;
  margin-bottom: 30px;
  position: relative;
}
.upcoming-events .container h3::before {
  content: "";
  display: block;
  width: 58%;
  height: 2px;
  background-color: #e8e8e8;
  position: absolute;
  top: 60%;
  transform: translatey(-60%);
  right: 0;
}
.upcoming-events .container h3::after {
  content: "\f3ff";
  font-family: 'Ionicons';
  color: rgba(0, 0, 0, 0.1);
  vertical-align: middle;
  font-size: 36px;
  font-weight: 100;
  display: inline-block;
  background: #fff;
  color: #919294;
  width: 38px;
  text-align: center;
  position: absolute;
  right: 60px;
  top: -10px;
}
.upcoming-events .container .events-wrapper {
  margin-bottom: 30px;
}
.upcoming-events .container .events-wrapper .event {
  position: relative;
  margin-bottom: 25px;
  padding-left: 30px;
  cursor: pointer;
}
.upcoming-events .container .events-wrapper .event i {
  font-size: 24px;
  font-weight: 100;
  position: absolute;
  left: 0;
  top: -4px;
}
.upcoming-events .container .events-wrapper .event .event__point {
  margin: 0;
  color: #555;
  font-size: 15px;
  font-weight: 800;
  letter-spacing: 1px;
}
.upcoming-events .container .events-wrapper .event .event__duration {
  position: absolute;
  top: 5px;
  right: 0;
  color: #999;
  font-size: 10px;
  font-weight: 800;
  font-style: italic;
}
.upcoming-events .container .events-wrapper .event .event__description {
  margin-top: 10px;
  color: #919294;
  font-size: 13px;
  font-weight: 300;
}
.upcoming-events .container .events-wrapper .event.active {
  background: #e8e8e8;
  padding: 17px 0 5px 60px;
  margin-bottom: 38px;
  border-radius: 5px;
}
.upcoming-events .container .events-wrapper .event.active::after {
  content: "";
  display: block;
  width: 90%;
  height: 10px;
  background: #fff;
  border: 2px solid #ddd;
  border-top: 0;
  border-radius: 0 0 5px 5px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translatex(-50%);
}
.upcoming-events .container .events-wrapper .event.active i {
  position: absolute;
  left: 25px;
  top: 17px;
}
.upcoming-events .container .events-wrapper .event.active .event__description::before, .upcoming-events .container .events-wrapper .event.active .event__description::after {
  content: "\f3d1";
  font-family: 'Ionicons';
  font-size: 32px;
  display: inline-block;
  color: #919294;
  text-align: center;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.upcoming-events .container .events-wrapper .event.active .event__description::before {
  right: 45px;
  font-size: 22px;
  transition: all 550ms ease;
  transition-timing-function: cubic-bezier(0.05, 1.8, 1, 1.57);
}
.upcoming-events .container .events-wrapper .event.active:hover .event__description::before {
  transform: translate(15px, -12px);
}

.hot {
  color: #ee6b51;
}

.done {
  color: #999 !important;
}

.icon-in-active-mode {
  color: #43ff28;
  font-size: 20px !important;
}

.upcoming {
  font-weight: bold;
  color: #777;
}

.add-event-button {
  display: flex;
  align-items: center;
  margin-left: auto;
  border: 0;
  padding: 0;
  background: linear-gradient(to left, #485fed, rgba(255, 44, 118, 0.25)), #485fed;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 0px 40px -9px #485fed;
}
.add-event-button:active {
  position: relative;
  top: 2px;
  left: 2px;
}
.add-event-button .add-event-button__title {
  color: #FFF;
  padding: 0 18px 0 23px;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  font-family: 'Lato';
  font-size: 15px;
  font-weight: 600;
}
.add-event-button .add-event-button__icon {
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
  padding: 0 17px 0 12px;
  height: 100%;
}
.add-event-button .add-event-button__icon i {
  margin: 0;
  color: #fff;
  font-size: 25px;
  padding: 13px 0;
}

/* Styling for fancyBox component */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Lato:400,700');


.fancybox-slide > div > h2:first-child {
  margin-top: 10px;
}

.btn {
  background: #FF6666;
  border-width: 0;
  color: #fff;
  text-decoration: none;
  padding: 7px 20px;
  line-height: 1.5;
  border-radius: 20px;
  text-transform: uppercase;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 80%;
  font-weight: 700;
  margin: 5px 5px 5px 0;
  display: inline-block;
  cursor: pointer;
  outline: none;
  transition: all .2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn:hover, .btn:focus {
  color: #fff;
}

.imglist a {
  display: inline-block;
}

.imglist img {
  height: 160px;
  margin-bottom: 4px;
}

.tright {
  text-align: right;
}

.tright .btn {
  margin-left: 10px;
}

.hidden {
  display: none;
}

.grid {
  float: left;
  width: 30%;
  padding: 20px;
  background: #eee;
  margin: 0 20px 20px 0;
}

/* APP SECTION */
.morphing-btn-wrap {
  display: inline-block;
  position: relative;
  text-align: center;
}

.morphing-btn {
  -webkit-transition: background 0.3s, color 0.2s 0.2s, width 0.2s 0s;
  -moz-transition: background 0.3s, color 0.2s 0.2s, width 0.2s 0s;
  -o-transition: background 0.3s, color 0.2s 0.2s, width 0.2s 0s;
  transition: color 0.3s 0.2s, width 0.2s 0s;
  white-space: nowrap;
  box-sizing: border-box;
}

.morphing-btn_circle {
  color: transparent !important;
  padding-left: 0;
  padding-right: 0;
  width: 35.6px !important;

  /* Override inline style rule */
  -webkit-transition: color 0.2s 0s, width .3s 0.2s;
  -moz-transition: color 0.2s 0s, width .3s 0.2s;
  -o-transition: color 0.2s 0s, width .3s 0.2s;
  transition: color 0.2s 0s, width .3s 0.2s;
}

.morphing-btn-clone {
  position: fixed;
  background: #FF6666;
  border-radius: 50%;
  z-index: 3;
  -webkit-transition: all 0.5s cubic-bezier(.65, .05, .36, 1);
  -moz-transition: all 0.5s cubic-bezier(.65, .05, .36, 1);
  -o-transition: all 0.5s cubic-bezier(.65, .05, .36, 1);
  transition: all 0.5s cubic-bezier(.65, .05, .36, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.morphing-btn-clone_visible {
  display: block;
  -webkit-transform: scale(1) !important;
  -moz-transform: scale(1) !important;
  -ms-transform: scale(1) !important;
  -o-transform: scale(1) !important;
  transform: scale(1) !important;
}

.fancybox-morphing .fancybox-bg {
  background: gray;
  opacity: 0;
}

.fancybox-morphing .fancybox-toolbar {
  top: 20px;
  right: 40px;
}

.fancybox-morphing .fancybox-button--close {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  color: #fff;
}

.fancybox-morphing .fancybox-button--close::after, 
.fancybox-morphing .fancybox-button--close::before {
    height: 1.55px;
    width: 22px;
    left: calc(50% - 11px);
}

.fancybox-morphing .fancybox-button--close:hover {
  background: rgba(0, 0, 0, 0.25);
}

/* Styling for element used in example */

#morphing-content {
  margin: 0;
  position: relative;
  background: gray;
  color: white;
  padding: 6em 10vw;
  line-height: 2;
  z-index: 3;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

#morphing-content a {
  color: white;
}

#morphing-content a {
  color: white !important;
}

/* FILE CARDS */
.controller-container {
 margin-bottom: 5%;
 text-align: center;
}
.controller {
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
 display: inline-block;
 margin: 0 20px;
 font-size: 22px;
 padding: 10px 0;
 color: #FFF;
 position: relative;
 transition: all 100ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
.controller:after {
 content: "";
 height: 3px;
 display: block;
 position: absolute;
 bottom: 0;
 width: 0;
 transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
 background-color: #FFF;
}
.controller.is_current:after {
 width: 100%;
}
.controller:hover,
.controller.is_current {
 -webkit-transform: translate3d(0, -5px, 0);
 transform: translate3d(0, -5px, 0);
 cursor: pointer;
}
.card__file {
 will-change: transform;
 margin: 8px;
 position: relative;
 border-radius: 2px;
 overflow: hidden;
 background-color: #fafafa;
 height: 35%;
 width: 344px;
 transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
 box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}
.card__file:hover {
 cursor: pointer;
}
.card__image {
 position: absolute;
 background-size: cover;
 background-position: center bottom;
 background-repeat: no-repat;
 width: 100%;
 height: 100%;
 overflow: hidden;
 display: block;
 opacity: 0;
 transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.card__image:after {
 content: "";
 display: block;
 position: absolute;
 background-color: rgba(0, 0, 0, 0.1);
 top: 0;
 left: 0;
 right: 0;
 transition: all 500ms;
 bottom: 0;
}
.card__title {
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
 font-size: 24px;
 color: #FFF;
 margin: 0;
 position: absolute;
 left: 0;
 right: 0;
 padding: 0 16px;
 font-weight: 400;
 white-space: nowrap;
 text-overflow: ellipsis;
 overflow: hidden;
 transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.card__subtitle {
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
 font-size: 14px;
 display: block;
 white-space: nowrap;
 text-overflow: ellipsis;
 overflow: hidden;
 color: #000;
 left: 88px;
 right: 0;
 top: 45px;
 position: absolute;
 padding: 0 16px;
 opacity: 0;
 transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.card__text {
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
 font-size: 14px;
 display: block;
 left: 0;
 right: 0;
 top: 100px;
 padding: 16px;
 margin: 0;
 line-height: 1.6;
 position: absolute;
 color: #000;
 overflow: hidden;
 transition: width 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
 transition: delay 0.1s;
}
.card__action-bar {
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
 position: absolute;
 bottom: 0;
 top: auto;
 left: 0;
 right: 0;
 padding: 0 8px;
 border-top: 1px solid #E0E0E0;
 box-sizing: border-box;
 height: 52px;
 transition: left 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.card__button {
 outline: none;
 position: relative;
 display: inline-block;
 line-height: 52px;
 padding: 0 16px;
 color: #FF1744;
 border: none;
 background: transparent;
}
.card__file--small {
 box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
 height: 136px;
 min-height: 136px;
}
.card__file--small .card__image {
 border-radius: 1px 0 0 1px;
 left: 0;
 top: 0;
 width: 88px;
 opacity: 1;
 max-height: 136px;
}
.card__file--small .card__image:after {
 opacity: 0;
}
.card__file--small .card__title {
 color: #000;
 left: 88px;
 top: 8px;
}
.card__file--small .card__subtitle {
 opacity: 1;
 left: 88px;
}
.card__file--small .card__text {
 top: 30px;
 opacity: 0;
}
.card__file--small .card__action-bar {
 left: 88px;
}