@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap"); /*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

html,
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline:none !important;
}

html {
  --selected-background-color: rgba(0, 65, 255, 0.16);
  --selected-items-color: rgb(37, 109, 255);
  --svg-current-color: rgba(144, 145, 145, 0.74);
  --write-mail-color-button: rgb(50, 90, 255);
  overflow: hidden;
}

h1,
h2 {
  margin: 0;
}

.tab-bar, .button-wrapper, .item-wrapper label, .section-header {
  padding-left: 20px;
  padding-right: 20px;
}

.tab-bar, .logo-wrapper, .left, .search-area, .right, .compose-button, .item-wrapper label, .item-info, .section-header, .side-bar-bottom, .action-bar, .action-bar .actions-right, .mail, .mail .mail-header, .subject-bar, .subject-bar .header-buttons, .subject-bar .header-buttons .header-button, .mail-content-wrapper .contact-info {
  display: flex;
  align-items: center;
}

.right button:hover, .action-bar button:hover, .other-services button:hover, .bottom-button-wrapper button:hover {
  opacity: 0.6;
}

.compose-button {
  -webkit-box-shadow: -1px 5px 9px 2px #e8e8e8;
  -moz-box-shadow: -1px 5px 9px 2px #e8e8e8;
  box-shadow: 0px 3px 10px #e4e8eb;
  background-color: var(--write-mail-color-button);
  color: white !important;

}

button, label {
  cursor: pointer;
}

button {
  background: none;
  border: none;
  line-height: 0;
  outline:none;
}

.tooomail-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.page-content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.tab-bar {
  justify-content: space-between;
  height: 55px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.09), 0 6px 910px 0 rgba(0, 0, 0, 0.09);
}

.logo-wrapper {
  font-size: 16px;
  color: #909191;
}

.left {
  justify-content: space-between;
  width: 44%;
}

.search-area {
  width: 400px;
  height: 34px;
  background-color: #f7f8f9;
  border-radius: 6px;
  padding: 1px;
}
.search-area input {
  flex: 1;
  background: none;
  border: none;
}
.search-area input::placeholder {
  font-weight: 400;
  color: #909191;
  font-size: 14px;
}

.right {
  justify-content: space-between;
}
.right img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.side-bar {
  width: 256px;
  border-right: 1px solid #ddd;
  color: #909191;
  font-size: 14px;
  font-weight: 600;
}

.button-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
}

.compose-button {
  justify-content: space-evenly;
  border-radius: 30px;
  width: 148px;
  height: 42px;
  color: #909191;
  font-size: 13px;
  font-weight: 600;
}

.item-wrapper label {
  border-left: 3px solid white;
}
.item-wrapper label svg {
  color: var(--svg-current-color);
}

.nav-item, .folder-nav-item, .bottom-nav, .bottom-logo, .mail-item {
  display: none;
}

.item-info {
  flex: 1;
  justify-content: space-between;
  padding-left: 16px;
  font-weight: 600;
  font-size: 14px;
}

.item-wrapper {
  color: #909191;
}
.item-wrapper label {
  position: relative;
}

#inbox:checked ~ .item-wrapper label[for="inbox"],
#starred:checked ~ .item-wrapper label[for="starred"],
#snoozed:checked ~ .item-wrapper label[for="snoozed"],
#sent:checked ~ .item-wrapper label[for="sent"],
#draft:checked ~ .item-wrapper label[for="draft"],
#spam:checked ~ .item-wrapper label[for="spam"],
#trash:checked ~ .item-wrapper label[for="trash"] {
  background-color: var(--selected-background-color);
  border-left: 3px solid var(--selected-items-color);
  color: var(--selected-items-color);
}
#inbox:checked ~ .item-wrapper label[for="inbox"] svg,
#starred:checked ~ .item-wrapper label[for="starred"] svg,
#snoozed:checked ~ .item-wrapper label[for="snoozed"] svg,
#sent:checked ~ .item-wrapper label[for="sent"] svg,
#draft:checked ~ .item-wrapper label[for="draft"] svg,
#spam:checked ~ .item-wrapper label[for="spam"] svg,
#trash:checked ~ .item-wrapper label[for="trash"] svg {
  color: var(--selected-items-color);
}

.section-break {
  width: 90%;
  opacity: .4;
}

.section-header {
  justify-content: space-between;
}

label .arrow {
  position: absolute;
  left: 5px;
}
label span {
  margin-left: auto;
}

.item-name {
  padding-left: 16px;
}

::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: rgba(216, 216, 216, 0.5);
  border-radius: 10px;
}

#clients:checked ~ .item-wrapper label[for="clients"] p,
#expenses:checked ~ .item-wrapper label[for="expenses"] p,
#reports:checked ~ .item-wrapper label[for="reports"] p,
#team:checked ~ .item-wrapper label[for="team"] p,
#travels:checked ~ .item-wrapper label[for="travels"] p {
  color: black;
}

.side-bar-bottom {
  height: 50px;
  justify-content: space-between;
  border-bottom: 2px solid #fff;
}
.side-bar-bottom label {
  padding: 10px 25px 6px 25px;
}

.logo-2 {
  width: 24px;
  height: 24px;
}

.logo-3 {
  width: 24px;
  height: 24px;
}

.side-bar-content {
  overflow: auto;
  flex: 1;
  height: calc(100% - 50px);
}

#logo-1:checked ~ .label-wrapper label[for="logo-1"],
#logo-2:checked ~ .label-wrapper label[for="logo-2"],
#logo-3:checked ~ .label-wrapper label[for="logo-3"] {
  border-bottom: 4px solid var(--selected-items-color);
}

.action-bar {
  height: 60px;
  width: 360px;
  border-bottom: 1px solid #ddd;
  justify-content: space-between;
  padding: 0 16px;
}
.action-bar .more .circle {
  background-color: #909191;
  height: 3px;
  width: 3px;
  border-radius: 50%;
  margin: 2px;
}

.conversations-list {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ddd;
}

.mail-list {
  overflow: auto;
  overflow-x: hidden;
  flex: 1;
}
.mail-list label {
  border-left: 3px solid #fff;
}

.mail {
  width: 360px;
  padding: 16px 12px;
  color: #909191;
  font-size: 14px;
  font-weight: 400;
}
.mail .mail-header {
  justify-content: space-between;
}
.mail .contact-name {
  color: #212223;
  font-size: 13px;
  font-weight: 600;
}

.profile-pic img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
.profile-pic .profile-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
.profile-pic .profile-logo p {
  margin: 0;
  font-size: 22px;
  font-weight: 600;
}
.profile-pic .blue {
  border: 1px solid #4285F4;
  background: rgba(66, 133, 244, 0.2);
}
.profile-pic .blue p {
  color: #4285F4;
}
.profile-pic .yellow {
  border: 1px solid #F4B400;
  background: rgba(244, 180, 0, 0.2);
}
.profile-pic .yellow p {
  color: #F4B400;
  top: -44%;
  left: 30%;
}
.profile-pic .green {
  border: 1px solid #0F9D58;
  background: rgba(15, 157, 88, 0.2);
}
.profile-pic .green p {
  color: #0F9D58;
}

.mail-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.mail-content {
  flex: 1;
  overflow: hidden;
  padding-left: 10px;
}
.mail-content p {
  margin: 0;
}

#mail-1:checked ~ label[for="mail-1"] {
  border-left: 3px solid var(--selected-items-color);
  background: #f7f8f9;
}

#mail-2:checked ~ label[for="mail-2"] {
  border-left: 3px solid var(--selected-items-color);
  background: #f7f8f9;
}

#mail-3:checked ~ label[for="mail-3"] {
  border-left: 3px solid var(--selected-items-color);
  background: #f7f8f9;
}

#mail-4:checked ~ label[for="mail-4"] {
  border-left: 3px solid var(--selected-items-color);
  background: #f7f8f9;
}

#mail-5:checked ~ label[for="mail-5"] {
  border-left: 3px solid var(--selected-items-color);
  background: #f7f8f9;
}

#mail-6:checked ~ label[for="mail-6"] {
  border-left: 3px solid var(--selected-items-color);
  background: #f7f8f9;
}

#mail-7:checked ~ label[for="mail-7"] {
  border-left: 3px solid var(--selected-items-color);
  background: #f7f8f9;
}

#mail-8:checked ~ label[for="mail-8"] {
  border-left: 3px solid var(--selected-items-color);
  background: #f7f8f9;
}

#mail-9:checked ~ label[for="mail-9"] {
  border-left: 3px solid var(--selected-items-color);
  background: #f7f8f9;
}

#mail-10:checked ~ label[for="mail-10"] {
  border-left: 3px solid var(--selected-items-color);
  background: #f7f8f9;
}

#mail-11:checked ~ label[for="mail-11"] {
  border-left: 3px solid var(--selected-items-color);
  background: #f7f8f9;
}

#mail-12:checked ~ label[for="mail-12"] {
  border-left: 3px solid var(--selected-items-color);
  background: #f7f8f9;
}

#mail-13:checked ~ label[for="mail-13"] {
  border-left: 3px solid var(--selected-items-color);
  background: #f7f8f9;
}

#mail-14:checked ~ label[for="mail-14"] {
  border-left: 3px solid var(--selected-items-color);
  background: #f7f8f9;
}

.conversation {
  flex: 1;
}

.other-services {
  width: 50px;
  border-left: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  padding: 6px;
}
.other-services button {
  line-height: 0;
  padding: 16px 0;
}
.other-services svg {
  width: 20px;
  height: 20px;
}

.services-top {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.services-top .section-break {
  width: 30px;
}

.subject-bar {
  height: 52px;
  border-bottom: 1px solid #ddd;
}
.subject-bar p {
  margin: 0;
  color: #212223;
  font-size: 16px;
  font-weight: 600;
}

.subject-bar {
  justify-content: space-between;
  padding: 4px 10px;
}
.subject-bar .header {
  display: flex;
  justify-content: space-between;
}
.subject-bar .header-buttons {
  padding-left: 20px;
}
.subject-bar .header-buttons .header-button {
  border-radius: 4px;
  margin-right: 6px;
  padding: 2px 4px;
}
.subject-bar .header-buttons .header-button button {
  padding: 0;
  position: relative;
  top: 1px;
}
.subject-bar .header-buttons .header-button p {
  font-size: 13px;
  line-height: 1;
}
.subject-bar .header-buttons .header-button.inbox {
  border: 1px solid #909191;
  background: rgba(144, 145, 145, 0.2);
}
.subject-bar .header-buttons .header-button.inbox svg, .subject-bar .header-buttons .header-button.inbox p {
  color: #909191;
}
.subject-bar .header-buttons .header-button.inbox button {
  color: #909191;
}
.subject-bar .header-buttons .header-button.team {
  border: 1px solid #4285F4;
  background: rgba(66, 133, 244, 0.2);
}
.subject-bar .header-buttons .header-button.team svg, .subject-bar .header-buttons .header-button.team p {
  color: #4285F4;
}
.subject-bar .header-buttons .header-button.team button {
  color: #4285F4;
}

.conversation {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.mail-area {
  flex: 1;
  overflow: auto;
  padding: 10px;
  background: #f7f8f9;
}

.content-wrapper {
  display: flex;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #ffffff;
  margin-bottom: 10px;
}

.mail-content-wrapper {
  color: #909191;
  font-size: 13px;
  font-weight: normal;
  padding: 0 10px;
  flex: 1;
}
.mail-content-wrapper p {
  margin: 0;
}
.mail-content-wrapper .contact-info {
  justify-content: space-between;
}
.mail-content-wrapper .contact-info .contact-name {
  color: #212223;
  font-size: 13px;
  font-weight: 600;
}

.name {
  color: #212223;
}

.reaction-buttons {
  padding-top: 20px;
}
.reaction-buttons button {
  color: #4285F4;
  border: 1px solid #E4E8EB;
  padding: 12px;
  border-radius: 4px;
  margin-right: 10px;
}

.send {
  background: #4285F4;
  padding: 14px 20px;
  font-size: 12px;
  color: white;
  border-radius: 4px;
}

.bottom-icons svg {
  width: 16px;
  height: 16px;
}

.bottom-button-wrapper {
  display: flex;
  justify-content: space-between;
}

.mail-break {
  width: calc(100% + 58px);
  margin-left: -40px;
  opacity: .4;
}