@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap"); /*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: rgba(216, 216, 216, 0.5);
  border-radius: 10px;
}

html {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none !important;
  text-underline-mode: none;
}

ul {
  list-style: none;
}

.text-center {
  text-align: center;
}

.text-red {
  color: #F70046 !important;
}

.text-yellow {
  color: #FFCD52 !important;
}

.text-green {
  color: #00CD6E !important;
}

.text-blue {
  color: #2A53FF !important;
}

.bg-red {
  background-color: #F70046 !important;
}

.bg-yellow {
  background-color: #FFCD52 !important;
}

.bg-green {
  background-color: #00CD6E !important;
}

.bg-blue {
  background-color: #2A53FF !important;
}

.bg-white {
  background-color: #FFF !important;
}

.wrapper {
  max-width: 700px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.w-100 {
  width: 100% !important;
}

body {
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: 560px 1fr;
  height: 100vh;
}

.sidebar {
  background-color: #f7f8f9;
  padding: 5px 25px;
  position: relative;
  height: 100vh;
  position: fixed;
  width: 200px;
}
.sidebar .logo {
  width: 50%;
  display: block;
  text-align: center;
  border-radius: 1px;
  border-top: 0;
  margin: 0 auto;
  padding: 0 0 20px;

  transition: background 0.3s;
}
.sidebar .btn-compose {
  background-color: #f70600;
  color: #fff;
  width: 100%;
  display: block;
  padding: 15px 0;
  border-radius: 5px;
  margin-bottom: 45px;
  transition: background 0.3s;
}
.sidebar .btn-compose:hover {
  background: #003686;
}
.sidebar .btn-compose .icon {
  color: #fff;
}
.sidebar .primary-navigation a:hover {
  color: #256dff;
}
.sidebar .primary-navigation a:hover .icon {
  color: #256dff;
}
.sidebar .secondary-navigation a:hover {
  color: #256dff;
}
.sidebar .nav-title {
  color: #3a93ff;
  text-transform: uppercase;
  font-size: 1.4rem;
  margin-bottom: 15px;
}
.sidebar .navigation ul li {
  margin-bottom: 15px;
}
.sidebar .icon {
  margin-right: 10px;
}
.sidebar .navigation .number {
  float: right;
}
.sidebar a, .sidebar .icon {
  color: #909191;
  font-size: 1.4rem;
}
.sidebar li.active a, .sidebar li.active .icon {
  color: #256dff;
}
.sidebar li.active .number {
  background: rgba(0, 69, 255, 0.38);
}
.sidebar .navigation .primary-navigation {
  margin-bottom: 45px;
}
.sidebar .settings {
  position: absolute;
  bottom: 35px;
}
.sidebar .settings a:hover {
  color: #d6a847;
}
.sidebar .settings a:hover .icon {
  color: #d6a847;
}
.sidebar .settings a:hover .number {
  background: #ade2ff;
}
.sidebar .profile {
  position: absolute;
  bottom: 70px;
}
.sidebar .profile a:hover {
  color: #d6a847;
}
.sidebar .profile a:hover .icon {
  color: #d6a847;
}
.sidebar .profile a:hover .number {
  background: #ade2ff;
}
.sidebar .number {
  width: 35px;
  text-align: center;
  display: inline-block;
  border-radius: 10px;
  background-color:  rgba(0, 69, 255, 0.38);
  padding: 2px 0;
}

.mails {
  background: #F5F5FA;
  padding: 5px 5px 0;
  margin-left: 200px;
  overflow-y: scroll;
}
.mails .search-bar {
  margin-bottom: 45px;
  color: #c8cae3;
  font-size: 1.4rem;
  background-color: #EBEBF6;
  padding: 10px 15px;
  border-radius: 3px;
}
.mails .search-bar input {
  border: none;
  background-color: transparent;
  color: darken(#E0E1EF, 7%);
}
.mails .search-bar span {
  float: right;
}
.mails .message {
  margin-bottom: 10px;
  background: #FFF;
  border-radius: 5px;
  padding: 15px;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  position: relative;
  border-left: 2px solid transparent;
  cursor: pointer;
}
.mails .message.active-message {
  border-color: #0041ff !important;
}
.mails .message:hover {
  border-color: #FFCD52;
}
.mails .message .message-info {
  display: flex;
}
.mails .message .message-sender-img {
  margin-right: 15px;
}
.mails .message .message-sender-img img {
  width: 45px;
  border-radius: 100%;
}
.mails .message .sender-name {
  margin-bottom: 5px;
}
.mails .message .message-timestamp {
  margin-left: auto;
  font-size: 1.1rem;
}
.mails .message .message-preview {
  margin-top: 15px;
  color: #969698;
}
.mails .message .message-status {
  font-size: 1.1rem;
}
.mails .message .message-folder-indicator {
  height: 45px;
  width: 3px;
  background-color: #000;
  position: absolute;
  right: 0;
  top: 50px;
}

.mail-viewer {
  overflow-y: scroll;
  padding: 35px 25px;
}
.mail-viewer .controls {
  display: flex;
  justify-content: space-between;
  color: #AEB2D1;
  margin-bottom: 45px;
  border-bottom: 1px solid #AEB2D1;
  padding-bottom: 30px;
}
.mail-viewer .controls button {
  background: transparent;
  border: none;
  font-size: 1.4rem;
}
.mail-viewer .controls button:first-child {
  margin-right: 7px;
}
.mail-viewer .controls button:hover {
  color: #000;
  cursor: pointer;
}
.mail-viewer .message-info {
  display: flex;
}
.mail-viewer .message-sender-img {
  margin-right: 30px;
}
.mail-viewer .message-sender-img img {
  width: 45px;
  border-radius: 100%;
}
.mail-viewer .message-subject {
  font-size: 2.7rem;
  font-weight: 200;
  color: #000;
}
.mail-viewer .sender-name {
  margin-bottom: 5px;
  font-size: 1.4rem;
}
.mail-viewer p {
  font-size: 1.4rem;
  margin-bottom: 15px;
  color: #969698;
  line-height: 1.7;
}
.mail-viewer .message-content {
  padding-left: 77px;
}
.mail-viewer .message-timestamp {
  margin-left: auto;
  font-size: 1.3rem;
}
.mail-viewer .open-message {
  padding-right: 45px;
}
.mail-viewer .image-gallery {
  display: flex;
  flex-wrap: wrap;
}
.mail-viewer .image-gallery img {
  border-radius: 8px;
  width: 100%;
}
.mail-viewer .image-gallery .gallery-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 15px;
}
.mail-viewer .image-gallery .gallery-row img {
  width: 282px;
  margin-bottom: 15px;
}
.mail-viewer .message-footer {
  padding-left: 77px;
  margin-top: 10px;
}

/*MODALS*/

/* general settings */
.modal-dialog {
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.modal-content {
  height: auto;
  min-height: 100%;
  min-width: 100%;
  border-radius: 0;
}

/* COMPOSE MODAL */
#message-text {
  height: 200px;
}