
.row {
    max-width: 900px;
    margin: 30px auto 0;
}

.card__news {
    float: left;
    padding: 0 1.7rem;
    width: 50%;
}
.card__news .news_menu-content {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.card__news .news_menu-content::before, .card__news .news_menu-content::after {
    content: '';
    display: table;
}
.card__news .news_menu-content::after {
    clear: both;
}
.card__news .news_menu-content li {
    display: inline-block;
}
.card__news .news_menu-content a {
    color: #fff;
}
.card__news .news_menu-content span {
    position: absolute;
    left: 50%;
    top: 0;
    font-size: 10px;
    font-weight: 700;
    font-family: 'Open Sans';
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
.card__news .news_wrapper {
    background-color: #fff;
    min-height: 540px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
}
.card__news .news_wrapper:hover .data {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.card__news .news_data {
    position: absolute;
    bottom: 0;
    width: 100%;
    -webkit-transform: translateY(calc(70px + 1em));
    transform: translateY(calc(70px + 1em));
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}
.card__news .news_data .news_content {
    padding: 1em;
    position: relative;
    z-index: 1;
}
.card__news .news_author {
    font-size: 12px;
}
.card__news .news_title {
    margin-top: 10px;
}
.card__news .news_text {
    height: 70px;
    margin: 0;
}
.card__news input[type='checkbox'] {
    display: none;
}
.card__news input[type='checkbox']:checked + .news_menu-content {
    -webkit-transform: translateY(-60px);
    transform: translateY(-60px);
}

/* ACTUAL CARD */
.news_card .news_wrapper {
    background: url(https://tvseriescritic.files.wordpress.com/2016/10/stranger-things-bicycle-lights-children.jpg) center/cover no-repeat;
}
.news_card .news_wrapper:hover .news_menu-content span {
    -webkit-transform: translate(-50%, -10px);
    transform: translate(-50%, -10px);
    opacity: 1;
}
.news_card .news_header {
    color: #fff;
    padding: 1em;
}
.news_card .news_header::before, .news_card .news_header::after {
    content: '';
    display: table;
}
.news_card .news_header::after {
    clear: both;
}
.news_card .news_header .news_date {
    float: left;
    font-size: 12px;
}
.news_card .news_menu-content {
    float: right;
}
.news_card .news_menu-content li {
    margin: 0 5px;
    position: relative;
}
.news_card .news_menu-content span {
    transition: all 0.3s;
    opacity: 0;
}
.news_card .news_data {
    color: #fff;
    -webkit-transform: translateY(calc(70px + 4em));
    transform: translateY(calc(70px + 4em));
}
.news_card .news_title a {
    color: #fff;
}
.news_card .news_button {
    display: block;
    width: 100px;
    margin: 2em auto 1em;
    text-align: center;
    font-size: 12px;
    color: #fff;
    line-height: 1;
    position: relative;
    font-weight: 700;
}
.news_card .news_button::after {
    content: '\2192';
    opacity: 0;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    transition: all 0.3s;
}
.news_card .news_button:hover::after {
    -webkit-transform: translate(5px, -50%);
    transform: translate(5px, -50%);
    opacity: 1;
}