html {
	overflow-y: hidden
}
* {
	box-sizing: border-box
}
.scrollbar-track {
	position: fixed;
	right: 0px;
	top: 0px;
	width: 20px;
	height: 100%;
	background: transparent
}
.scrollbar {
	position: fixed;
	right: 0px;
	width: 20px;
	background-color: rgba(255, 255, 255, 0.5);
	border: 5px solid transparent;
	background-clip: content-box;
	border-radius: 10px
}
.scrollbar:hover {
	background-color: rgba(255, 255, 255, 0.75);
}
